<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="/js/base.js" defer></script>
  </head>
  <body>
    <div id="topnav" class="dark box">
      <a class="nav-button" href="/">خانه</a>
      <a class="nav-button" href="/album">آلبوم</a>
    </div>
    {{content}}
    <div id="footer" class="dark box">
      این سایت
      <a href="/this/opensource">متن باز</a>
      است.
      شما آزادانه می توانید این سایت را تغییر داده و بازنشر کنید
      (
        <a href="https://github.com/HKalbasi/HKalbasi.github.io">گیت‌هاب</a>
        -
        <a href="/license/javascript" data-jslicense="1">لیسانس جاوا اسکریپت</a>
      )
    </div>
  </body>
</html>